<!Doctype>
<html>
<head>
  <title>Chat.io</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/index_style.css" />
  <script src="http://localhost:3000/socket.io/socket.io.js"></script>
</head>
<body>
  <div class="fullScreen" id="fullScreen">
    <canvas id="canvas2d"></canvas>
  </div>
  <div id="message_container" class="container">
    <h3>chat.io</h3>
    <div id="user_list">
      <div id="user_card">
        <h1 id="username"><%= username %></h1>
        <h2><span id="age"><%= age %></span>, <span id="location"><%= location %></span></h2>
      </div>
    </div>
    <div id="messanger">
      <div id="conversation">
        <div class="your_message_body" id="greeting_msg">
          <p>
            Your messages will appear here...
          </p>
        </div>
      </div>
      <div id="msg">
        <input type="text" id="message" />
      </div>
    </div>
  </div>
  <script src='/javascripts/login.js'></script>
  <script src='/javascripts/starfield.js'></script>
</body>
</html>
