<!Doctype>
<html>
<head>
  <title>Chat.io</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/index_style.css" />
  <script src="http://localhost:3000/socket.io/socket.io.js"></script>
</head>
<body>
  <div class="fullScreen" id="fullScreen">
    <canvas id="canvas2d"></canvas>
  </div>
  <div class="container">
    <div id="titleDiv">
      <h1>chat.io</h1>
    </div>
    <div id="user_list">
      <div class="user_card" id="my_card">
        <h1 id="username"><%= username %></h1>
        <h2><span id="age"><%= age %></span>, <span id="location"><%= location %></span></h2>
      </div>
    </div>
    <div id="messenger">
      <div id="conversation">
        <!-- Messages will go here -->
      </div>
      <div id="msg">
        <input type="text" id="message" />
        <input type="submit" id="btnMsg" />
      </div>
    </div>
  </div>
  <script src='/scripts/client_logic.js'></script>
  <script src='/scripts/starfield.js'></script>
</body>
</html>
