<!Doctype html>
<html>
<head>
  <title>Login - chat.io</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/index_style.css" />
</head>
  <body>
    <div class="fullScreen" id="fullScreen">
      <canvas id="canvas2d"></canvas>
    </div>
    <div id="container" class="container">
      <div id="titleDiv">
        <h1>chat.io</h1>
      </div>
      <form id="sign_in" method="post" action="/chat" Content-Type="application/json">
        <h3>Sign in</h3>
        <table id="main_table">
          <tr>
          <td><label for="username">Username:</label></td>
          </tr>
          <tr>
          <td><input type="text" id="username" name="username"/></td>
          </tr>
          <tr>
            <td><lable for="age">Your Age:</lable><td>
          </tr>
          <tr>
            <td><input type="text" id="age" name="age"/><td>
          </tr>
          <tr>
            <td><label for="location">Where are you from:</label><td>
          </tr>
          <tr>
            <td><input type="text" id="location" name="location"/><td>
          </tr>
          <tr>
            <td><input type="submit" id="submit" value="Go" /><td>
          </tr>
        </table>
      </form>
    </div>
    <!--<script src='/javascripts/login.js'></script> -->
    <script src='/scripts/starfield.js'></script>
  </body>
</html>
